@font-face {
  font-family: "bettyregular";
  src: url("fonts/betty/betty_regular.woff") format("woff"), url("fonts/betty/Betty%20Regular.ttf") format("truetype"); }
h1, h2, h3, h4, h5, h6 {
  font-family: "bettyregular", Helvetica, Arial, sans-serif; }

@media (min-width: 768px) {
  .publication {
    padding: 20px;
    margin: 40px; } }
.information-block-wrapper {
  height: 500px;
  overflow-y: scroll; }

.nav-footer {
  margin-bottom: 0; }

.full-container {
  margin: 0;
  padding: 0;
  width: 100%; }

.navbar-brand span.text-title {
  display: none; }

.navbar-nav li {
  margin-left: 10px; }

body {
  background-size: cover;
  background-attachment: fixed; }

.background-wizard {
  background-color: white;
  margin: 0px;
  padding: 5vh 5vw 20vh; }

.navbar {
  background: url("../../../images/bg-dark.jpeg") no-repeat top;
  border: none; }

.navbar-nav li {
  line-height: 36px; }

.comment_content {
  margin: 10px 5%;
  padding: 2%;
  width: 90%; }

.imgSquare {
  position: relative;
  width: 100%; }
  .imgSquare .imgSquareContainer {
    position: relative;
    width: 90%;
    margin: 5%;
    padding-bottom: 100%;
    background-color: white;
    box-shadow: 1px 1px 12px #555; }
    .imgSquare .imgSquareContainer .imgTitre {
      width: 100%;
      text-align: center;
      padding: 2px;
      position: absolute;
      bottom: 0; }
    .imgSquare .imgSquareContainer img {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden; }

.circle {
  border-radius: 50%; }

.squareUser div.imgSquare {
  width: 30%;
  float: left; }

.search-publication-container {
  padding: 10px;
  margin-top: 10px; }

.main-title {
  color: white; }

.scroll {
  padding-bottom: 2vh; }
  .scroll > .nav {
    display: none; }

.badge {
  background-color: #ACB0E4; }

.defaut-label {
  background-color: #454a72; }

.label {
  padding: 3.75px;
  margin: 3.75px; }
  .label a {
    color: white;
    font-style: none; }
    .label a > :focus, .label a:hover {
      color: white; }

.text-align-right {
  text-align: right; }

.text-align-left {
  text-align: left; }

.margin-auto {
  margin: auto; }

.margin-right {
  margin-right: 30px; }

.margin-left {
  margin-left: 30px; }

.margin-bottom {
  margin-bottom: 30px; }

.margin-top {
  margin-top: 30px; }

.padding-right {
  padding-right: 30px; }

.padding-left {
  padding-left: 30px; }

.padding-top {
  padding-top: 30px; }

.padding-bottom {
  padding-bottom: 30px; }

.messenger_thread_message .messenger_thread_message_info {
  font-weight: bold; }
.messenger_thread_message .messenger_thread_message_body {
  padding-left: 30px; }

h1 {
  text-align: center;
  font-size: 5rem; }

h2 {
  font-size: 4rem;
  text-align: center; }

h3 {
  font-size: 3rem;
  text-align: center; }

h4 {
  font-size: 2.5rem;
  text-align: center; }

hr {
  height: 6px;
  background: url(../images/hr.png) repeat-x 0 0;
  border: 0;
  margin: 3vh 0%; }

textarea {
  resize: none; }

button {
  background-color: #454a72 !important;
  padding: 3.75px;
  margin: 3.75px;
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  border: 1px solid transparent; }

@font-face {
  font-family: "Timeless";
  src: url("../fonts/Timeless/timeless.woff") format("woff"), url("../fonts/Timeless/timeless.ttf") format("truetype"); }
#fav_pages .page:nth-child(even) .img-wrapper {
  float: right; }

.clickable {
  color: #444; }
  .clickable:hover {
    cursor: hand;
    cursor: pointer;
    color: #000; }

.panel-wizard {
  border-color: #ACB0E4; }
  .panel-wizard .panel-heading {
    color: #FFF;
    background-color: #454a72;
    border-color: #454a72; }

.wizard-icondiscover, .wizard-iconhome, .wizard-iconmail, .wizard-iconnotifications, .wizard-iconsearch, .wizard-iconhat, .wizard-iconbroom {
  display: inline-block;
  background: url("../images/sprite-menu.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  vertical-align: middle; }

.wizard-icondiscover {
  background-position: -5px 0px;
  width: 43px;
  height: 45px; }

.wizard-iconhome {
  background-position: -53px 0px;
  width: 43px;
  height: 45px; }

.wizard-iconmail {
  background-position: -5px -50px;
  width: 43px;
  height: 45px; }

.wizard-iconnotifications {
  background-position: -53px -50px;
  width: 43px;
  height: 45px; }

.wizard-iconsearch {
  background-position: -5px -100px;
  width: 43px;
  height: 45px; }

.wizard-iconhat {
  background-position: -53px -100px;
  width: 43px;
  height: 45px; }

.wizard-iconbroom {
  background-position: -5px -150px;
  width: 43px;
  height: 45px; }

.navbar-head, h1, h2, h3, h4, h5, h6, footer {
  font-family: "bettyregular", sans-serif; }

.user-profil {
  width: 5vw;
  height: 5vw; }

header, footer {
  background-image: url(../images/bg-dark.jpeg);
  background-color: #000;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }

header nav, p {
  font-family: "Timeless", sans-serif; }

header nav ul i {
  margin-right: 2vw; }

header nav.nav-full li {
  margin: 0vh 2vw;
  border-bottom: 5px solid transparent;
  transition: 0.3s linear; }

.navbar {
  background: url("../images/bg-dark.jpeg") no-repeat top;
  border: none;
  border: 0px;
  border-radius: 0px; }

.nav-user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem; }
  .nav-user p {
    margin-top: 1vh;
    margin-right: 3vw;
    color: #FFF; }

.navbar-collapse {
  float: left;
  width: 100%;
  clear: both; }

header a, .navbar-brand, .navbar-nav > li > a, .navbar-brand, .navbar-nav > li > a:hover, header a:hover, .navbar-nav > li > a:focus, header a:focus {
  text-decoration: none;
  color: #FFF;
  text-shadow: none;
  background-color: transparent; }

.dropdown-menu {
  margin-left: -6vw;
  margin-top: 4vh;
  color: #000; }
  .dropdown-menu li {
    text-transform: capitalize; }

.login {
  margin-right: 2vw;
  padding-bottom: 0.5vh;
  border-bottom: 2px solid transparent;
  transition: 0.2s linear; }

.register {
  padding-bottom: 0.5vh;
  border-bottom: 2px solid transparent;
  transition: 0.2s linear; }

.login:hover, .register:hover {
  border-bottom: 2px solid #FFF; }

@media (min-width: 768px) {
  .two-row .navbar-collapse {
    clear: left; }

  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float: none; } }
@media screen and (max-width: 1420px) {
  header nav {
    margin: 0vh 0vw;
    max-width: 180vw;
    overflow-x: scroll; } }
header nav .nav-full li:hover {
  border-bottom: 5px solid #FFF; }

.navbar-toggle {
  margin-right: 0px; }
  .navbar-toggle .icon-bar {
    background-color: #FFF; }

.mypseudo:hover {
  cursor: default; }

.background-wizard {
  margin: 0px;
  padding: 5vh 5vw 20vh; }

.head {
  margin: 25vh 0vw 10vh;
  padding: 5vh 15vw;
  justify-content: center;
  align-items: center;
  color: #FFF;
  height: 60vh; }
  .head h1 {
    margin-top: 10vh; }
  .head .imgSquare {
    width: 15vh;
    margin: auto; }

.navbar-header {
  width: 100%;
  padding-right: 5vw;
  padding-left: 5vw;
  font-family: "bettyregular", sans-serif; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  color: #FFF;
  padding: 4px 10vw; }
  footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0vh;
    margin: 0vh;
    width: auto; }
  footer ul {
    display: flex; }
  footer li {
    margin: 1vh 2vw 0vh; }
    footer li a {
      color: #ffffff;
      transition: 0.4s linear;
      border-bottom: 2px solid transparent;
      padding-bottom: 0.2vh; }
      footer li a:hover {
        color: #FFF;
        border-bottom: 2px solid #FFF;
        text-decoration: none; }
  footer p {
    font-size: 1rem;
    text-align: center; }

@media screen and (max-width: 850px) {
  footer {
    height: 2vh;
    padding-top: 2vh;
    transition: 0.2s linear; }
    footer:hover {
      height: auto; }
    footer ul {
      flex-direction: column;
      justify-content: center; }
    footer li {
      text-align: center; } }

/*# sourceMappingURL=main.css.map */
