@font-face {
    font-family: "Timeless";
    src: url("../fonts/Timeless/timeless.woff") format("woff"), url("../fonts/Timeless/timeless.ttf") format("truetype");
}

@font-face {
    font-family: "oldsh";
    src: url("../fonts/oldsh/oldsh.woff") format("woff"), url("../fonts/oldsh/oldsh.ttf") format("truetype");
}

@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya/Alegreya.woff") format("woff"), url("../fonts/Alegreya/Alegreya.ttf") format("truetype");
}

body, .navbar-head, h1, h2, h3, h4, h5, h6, footer, header nav, p, .table, .publication p, .publication h5, .panel-body p, .alert, .messenger_thread_message_info, .messenger_thread_message, .messenger_thread_message_body, .notification-viewed a, .notification-viewed .text-center, .publication-top .title-container, a, label, input, footer {
    font-family: "Alegreya", serif !important;
}

/* MAIN */

.imgSquare .imgSquareContainer {
	box-shadow: none;
}

.img-responsive {
	border-radius: 50%;
}

#main {
	background-color: #fff;
}

.navbar.navbar-custom.navbar-fixed-top, footer {
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.71);
    background-color: #454A72;
}

a {
	color: #454a72;
	padding: 2px;
}

a:hover {
	color: #fff;
	background-color: #454a72;
	text-decoration: none;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 900;
	background-image: url(../../assets/images/bg-dark.jpeg);
	background-color: #454A72;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
    overflow: hidden;
    transition: 0.4s linear;
}

.container-fluid {
	position: relative;
    transition: 0.4s linear;
}

.navbar {
	position: relative;
	min-height: auto;
    height: auto;
	margin-bottom: 0;
	border: none;
    overflow: hidden;
    transition: 0.4s linear;
}

.nav-up #bs-example-navbar-collapse-1, .nav-down #bs-example-navbar-collapse-1 {
	transition: 0.4s linear;
	position: relative;
}

.nav-up #bs-example-navbar-collapse-1 {
    top: 50vh;
    transition: 0.4s linear;
}

header nav .nav-full li, header nav .nav-full li:hover, header nav .nav-full li.active {
	padding-bottom: 0.5vh;
	border-bottom: 4px solid transparent;
	transition: 0.2s linear;
}

.nav-up {
	max-height: 12vh;
	transition: 0.2s linear;
}

header nav .nav-full li:hover, .navbar-nav .active  {
	border-bottom: 4px solid #fff!important;
}

.head .title-wrapper {
    padding: 23vh 0vw 10vh!important;
}

.head {
    padding: 0px!important;
    margin: 15vh 5vw 10vh!important;
    height: auto!important;
}

.head-profile, .head-page {
    height: auto;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
}

.head-profile h1 {
    font-size: 5rem;
}

.head-profile h2 {
    font-size: 3rem;
}

.head h1 {
    margin-top: 0vh;
}

h1 {
    font-size: 3rem;
}

.text-center {
	text-align: center !important;
}

.profil-infos-panel .col-md-12 {
	margin: 0;
	padding: 0;
}

.profil-infos-panel a, .margin-bottom-middle a {
	padding: 10px;
	border-radius: 5px;
	margin: 0;
	align-items: center;
	display: flex;
}

.profil-infos-panel a:hover, .margin-bottom-middle a:hover
{
    background-color: #454a72;
    color: #fff;
}

/* BOUTONS */

.wizardsalley-login-form-submit, .wizardsalley-register-form-submit, .btn-default, .btn, .btn.btn-danger.btn-add-blame, .label.defaut-label.btn, .btn-default.active.focus, .btn-default.active, .btn-default.active, .btn-default.focus, .btn-default, .btn-default, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default, .fos_user_registration_register .register {
    border: 0px;
    background: #454a72;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    margin: auto;
    text-decoration: none;
    color: #fff;
    transition: 0.2s linear;
    font-size:  ;
    line-height: normal;
    font-weight: normal;
    font-size: 1.4rem;
    text-shadow: none;
    
}

.wizardsalley-login-form-submit:hover, .wizardsalley-register-form-submit:hover, .btn-default:hover, .btn:hover, .btn.btn-danger.btn-add-blame:hover, .label.defaut-label.btn:hover, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .btn-default.active, .btn-default:active {
    background: #27293d;
    text-decoration: none;
    color: #fff;
    line-height: normal;
    font-weight: normal;
}

input[type="submit"] {
    width: 100%;
    padding: 2vh 0vw;
}

input[type="file"] {
	width: 100%;
	background-color: #454a72;
	padding: 2vh 2vw;
	border-radius: 5px;
	color: #fff;
}

input[type="file"]:hover {
    background: #27293d;
}

#wizardalley_publicationbundle_page button:hover {
	background-color: transparent;
}


/* CONNEXION */

.wizardsalley-login-form-submit, .wizardsalley-register-form-submit {
    width: 100%;
}

.fos_user_registration_register {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.wizardsalley-login-form .form-group, #fos_user_registration_form .form-group {
    text-align: left!important;
}

.fos_user_registration_register {
    padding: 0vh 15vw;
}

/* BLOCKS PAGES */

.head .title-wrapper {
    padding: 15vh 0 10vh;
}

#wizardalle_publicationbundle_add_small_publication_content {
    border-radius: 0px;
}

.information-block-wrapper {
    height: auto;
}

.most-commented-block-wrapper .publication {
    padding: 0px;
}

.dropdown-menu {
    border-radius: 5px!important;
}

#wizardalley_publicationbundle_add_small_publication_content {
	border: 1px solid #8c8b8b;
	padding: 3vh 1vw;
	color: #000000;
}

.form-control:focus {
    border-color: #323F61;
}

.form-group {
	text-align: right;
}

.publication {
    margin: 0px;
    padding: 0px;
}

.panel {
    border: 0px;
}

.text-center {
    margin-top: 2vh;
}

.publication-block-wrapper {
    margin-top: 5vh;
}

.container {
	width: 100%!important;
}

/* DISCOVER */

.head-discover, .head-discover .title-wrapper {
    padding: 15vh 5vw 15vh;
    height: 70vh!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.head-discover h2, .head-discover h3, .login-title-description {
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 12px #000;
    padding: 0px;
    margin: 0px;
}

.head-discover h2 {
	font-size: 6rem!important;
}

.head-discover h3, .login-title-description {
	font-size: 3rem!important;
}

.login-title-description {
    padding: 0px 5vw;
}


/* Notifications */

.alert-info, .notification-viewed {
	background-color: #fff;
	background-image: none;
	border: none;
}

.head-notification .title-wrapper {
    padding: 23vh 0vw 10vh;
}

.head-notification {
    padding: 0px;   
}

.notification-viewed .text-center {
    font-size: 17px;
}

.alert {
	position: fixed;
	top: 2vh;
	z-index: 10000;
	left: 30vw;
	right: 30vw;
	background-color: #474C76!important;
	background-image: none!important;
	color: #fff;
	text-shadow: none;
	border: none;
	box-shadow: none;
	font-size: 15px;
	text-align: center;
	border-radius: 10px;
}

.alert li {
    list-style-type: none;
}

.ui-widget-header {
    border: 0px;
    background: none;
}

.ui-dialog {
	border: 0px;
	padding: 0px;
	margin: 0px;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.71);
	border-radius: 5px !important;
    position: fixed !important;
}

.ui-dialog-titlebar {
	background-color: #454A72;
	background-image: none;
}

.ui-button-icon-primary {
	color: #fff !important;
	background-color: #474C76 !important;
	border: 0px !important;
}

/* MENU RESPONSIVE */
@media (max-width: 767px) {
    
    header nav .nav-full li:hover, header nav .nav-full li.active {
        border-bottom-color: transparent;
    }
    
    .navbar-nav > li > a {
        text-align: center;
    }
    
    nav navbar-nav nav-full, .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        height: 100vh;
        max-height: none;
    }
    
    header nav .nav-full li:hover, .navbar-nav .active {
	    border-bottom: none!important;
    }
    
}

@media screen and (max-width: 1000px) {
    
    .fos_user_registration_register {
        padding: 0vh 0vw;
    }

}

/* PUBLICATIONS */

#wizardalley_publicationbundle_add_small_publication_submit {
    width: 100%;
    padding: 15px 5vw;
}

.publication {
    margin-bottom: 5vh;
}

.publication p, .publication h5, .panel-body p, .publication-date {
    font-size: 20px!important;
    margin: 0px;
    padding: 0px;
}

.publication-author {
    font-size: 20px;
    text-transform: capitalize;
}

.publication-date {
    font-size: 10px;
}

.publication .text-align-right {
    margin-top: 5vh;
}

.publication .text-align-right .label, .btn, .btn-danger, .btn-add-blame {
	font-size: 12px !important;
}

.publication h5 {
    font-size: 30px;
    margin: 0px;
    text-align: left;
}

/* COMMENTAIRES */

#comment_content {
	padding-top: 10vh;
	height: auto !important;
}

/* GRANDES PUBLICATIONS */

.publication-top .img-container, .publication-top .imgSquareContainer, .publication-top .imgSquare {
	width: 7vw;
}

.publication-top .title-container {
	margin-left: 5vw;
}

.publication-top .page-name {
	font-size: 3rem;
}

.publication-top .publication-name {
	font-size: 3rem;
}

.wizardalley_publicationbundle_comment_publication_content {
	display: block;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.col-xs-8.col-xs-offset-2 {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

/* LISTING SORCIERS ET SORCIERES */

@media (min-width:992px) {
    
    .col-md-3 {
        width: 30%;
    }
    
    .last-connected-wrapper a:hover, #fav_pages a:hover, #fav_publications a:hover, #div_friend a:hover, #div_page_followed a:hover, .squareUser a:hover {
        color: #454A72!important;
        background-color: transparent!important;
    }
}

/* MESSAGERIE */

.table {
    font-size: 20px;
}

 .messenger_thread_message {
     margin-top: 5vh;
}

.messenger_thread_message_info {
	font-size: 25px;
	margin-bottom: 15px;
}

.messenger_thread_message_body {
    font-size: 20px;
}

/* PROFILS & PAGES */

.col-md-4 .panel-body p, .col-md-3 .panel-body p {
    font-size: 17px;
    text-align: justify;
}

<<<<<<< HEAD
=======
/*
.col-md-4 .panel-body .col-md-12 a, .col-md-3 .panel-body .col-md-12 a {
	display: flex;
	align-items: center;
	align-content: center;
}*/

>>>>>>> a35a40a38f329a58026a6620f969c66d7ef4fdb9
.col-md-4 .icon-large, .col-md-3 .icon-large {
	margin-right: 10px;
}


.head-page {
	height: auto;
}

.head-page h1, .head-profile h1 {
	margin: 5vh 0vw 0vh;
	font-size: 5rem;
}

.head-page h2, .head-profile h2 {
	font-size: 3rem;
	margin: 0px;
}

.head-page h3, .head-profile h3 {
	margin: 2vh 0vw 0vh;
}

.dropdown-menu .dropdown-toggle {
	display: none;
}

.dropdown-menu li {
	text-transform: inherit;
}

.navbar-nav > li > .dropdown-menu {
    position: fixed;
    top: auto;
    right: 5.5vw;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
	border-color: transparent;
}

.head h3 a {
	background-color: #454a72;
	color: #fff;
	text-shadow: none;
	padding: 10px;
	border-radius: 15px;
	font-size: 1.6rem;
	text-transform: capitalize;
    text-decoration: none;
}

.head h3 a:hover {
    text-decoration: none;
    background-color: #27293d;
}


/* MENTIONS LEGALES */




/* FOOTER */

footer ul {
    padding: 0px;
    margin: 1px 0vw 10px 0vw;
}

footer li a:hover {
    background-color: none;
}


/* VERSIONS MOBILE */

@media (max-width: 767px) {
    .imgSquare.circle .imgSquareContainer {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    
    .nav-up #bs-example-navbar-collapse-1 {
        top: auto;
        transition: 0.4s linear;
    }
    
    .nav-up {
        max-height: none;
        transition: 0.2s linear;
    }
    
    footer {
        position: relative;
        height: auto;
    }

}

/*# sourceMappingURL=main.css.map */
