@font-face {
    font-family: "Timeless";
    src: url("../fonts/Timeless/timeless.woff") format("woff"), url("../fonts/Timeless/timeless.ttf") format("truetype");
}

@font-face {
    font-family: "oldsh";
    src: url("../fonts/oldsh/oldsh.woff") format("woff"), url("../fonts/oldsh/oldsh.ttf") format("truetype");
}

@font-face {
    font-family: "Alegreya";
    src: url("../fonts/Alegreya/Alegreya.woff") format("woff"), url("../fonts/Alegreya/Alegreya.ttf") format("truetype");
}

body, .navbar-head, h1, h2, h3, h4, h5, h6, footer, header nav, p, .table, .publication p, .publication h5, .panel-body p, .alert, .messenger_thread_message_info, .messenger_thread_message, .messenger_thread_message_body, .notification-viewed a, .notification-viewed .text-center, .publication-top .title-container, a, label, input, footer {
    font-family: "Alegreya", serif !important;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5 {
    font-size: 20px;
    text-align: left;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 900;
    background-image: url(../../assets/images/bg-dark.jpeg);
    background-color: #454A72;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: 0.4s linear;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.71);
}

.container-fluid {
    transition: 0.4s linear;
}

.navbar {
    position: relative;
    min-height: auto;
    height: auto;
    margin-bottom: 0;
    border: none;
    overflow: hidden;
    transition: 0.4s linear;
}

.nav-up #bs-example-navbar-collapse-1, .nav-down #bs-example-navbar-collapse-1 {
    transition: 0.4s linear;
    position: relative;
}

.nav-up #bs-example-navbar-collapse-1 {
    display: none!important;
    transition: 0.4s linear;
}

header nav .nav-full li, header nav .nav-full li:hover, header nav .nav-full li.active {
    padding-bottom: 0.5vh;
    border-bottom: 4px solid transparent;
    transition: 0.2s linear;
}

.nav-up {
    transition: 0.2s linear;
}

header nav .nav-full li:hover, .navbar-nav .active {
    border-bottom: 4px solid #fff !important;
}

.head {
    padding: 0px !important;
    margin: 15vh 5vw 5vh !important;
    height: auto !important;
}

.head .title-wrapper {
    padding: 23vh 0vw 10vh !important;
}

@media (max-width: 767px) {
    .head .title-wrapper {
        padding: 10vh 0vw !important;
    }
    
    .nav-up #bs-example-navbar-collapse-1 {
        display: block!important;
    }
}

.head-profile, .head-page {
    height: auto;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
}

.head h1 {
    margin-top: 0vh;
}

.head h1, .head h2, .head h3 {
    text-align: center;
}

.head h1, .head h2 {
    font-size: 30px;
}

.head-discover h2 {
    font-size: 40px;
}

.head-discover h3 {
    font-size: 25px;
}

@media (max-width: 750px) {
    .head-discover h2 {
        font-size: 40px;
    }

    .head-discover h3 {
        font-size: 30px;
    }
}

.text-center {
    text-align: center !important;
}

.profil-infos-panel a, .margin-bottom-middle a, .social-users a {
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    align-items: center;
    display: flex;
    text-decoration: none;
    transition: 0.2s linear;
}

.profil-infos-panel a:hover, .margin-bottom-middle a:hover, .social-user a:hover {
    background-color: #454a72;
    text-decoration: none;
    color: #fff;
}

.social-user {
    margin: 2vh 0px;
}

.social-user a {
    width: 100%;
    padding: 10px;
    display: block;
    margin: 5px 0;
    border-radius: 5px;
}

/* MAIN */

.imgSquare .imgSquareContainer {
    box-shadow: none;
}

#comment_content .img-responsive {
    border-radius: 50%;
}

#main {
    background-color: #E8E8E4;
}

.navbar.navbar-custom.navbar-fixed-top, footer {
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.71);
    background-color: #454A72;
}

a {
    color: #454a72;
    padding: 2px;
}

main h2, main h3, main h4 {
    text-align: left;
    font-size: 30px;
}

/* BOUTONS */

.wizardsalley-login-form-submit, .wizardsalley-register-form-submit, .btn-default, .btn, .btn.btn-danger.btn-add-blame, .label.defaut-label.btn, .btn-default.active.focus, .btn-default.active, .btn-default.active, .btn-default.focus, .btn-default, .btn-default, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default, .fos_user_registration_register .register, input[type="submit"], .more {
    border: 0px;
    background: #454a72;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    margin: auto;
    text-decoration: none;
    color: #fff;
    transition: 0.2s linear;
    font-size:;
    line-height: normal;
    font-weight: normal;
    font-size: 1.4rem;
    text-shadow: none;

}

.wizardsalley-login-form-submit:hover, .wizardsalley-register-form-submit:hover, .btn-default:hover, .btn:hover, .btn.btn-danger.btn-add-blame:hover, .label.defaut-label.btn:hover, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .btn-default.active, .btn-default:active, input[type="submit"]:hover, .more:hover {
    background: #27293d;
    text-decoration: none;
    color: #fff;
    line-height: normal;
    font-weight: normal;
}

input[type="submit"] {
    width: 100%;
    padding: 2vh 0vw;
}

input[type="file"] {
    width: 100%;
    background-color: #454a72;
    padding: 2vh 2vw;
    border-radius: 5px;
    color: #fff;
}

input[type="file"]:hover {
    background: #27293d;
}

#wizardalley_publicationbundle_page button:hover {
    background-color: transparent;
}

/* PROFILS */

.img-profil {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.img-profil-header {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.img-profil-page {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

/* CONNEXION */

.head-login-title {
    font-size: 1.4em;
}

.wizardsalley-login-form-submit, .wizardsalley-register-form-submit {
    width: 100%;
}

.fos_user_registration_register {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.wizardsalley-login-form-wrapper {
    color: #000;
}

.wizardsalley-login-form .form-group, #fos_user_registration_form .form-group {
    text-align: left !important;
}

.fos_user_registration_register {
    padding: 0vh 15vw;
}

.modal-confidentiality .modal-body {
    height: 50vh;
    overflow-y: auto;
}

/* BLOCKS PAGES */

@media (min-width: 1395px) {
    
    header {
        padding: 0vh 10vw;
    }

    .head, main, footer {
        padding: 0vh 15vw;
    }
    
    main {
        padding: 2vh 15vw;
    }
    
}

@media (min-width: 1150px) and (max-width: 1395px) {
    
    header {
        padding: 0vh 5vw;
    }

    .head, main, footer {
        padding: 0vh 10vw;
    }
    
        
    main {
        padding: 2vh 10vw;
    }
    
}

.head .title-wrapper {
    padding: 15vh 0 10vh;
    text-align: center;
}

main {
    position: relative;
}

.page-nav {
    position: absolute;
    display: none;
    background-image: url('../../assets/images/bg-dark.jpeg');
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.page-nav li {
    padding: 4vh 5%;
    width: 50%;
    text-align: center;
    color: #fff;
    transition: 0.2s linear;
    cursor: pointer;
    list-style-type: none;
}

.page-nav li:hover, .page-nav .active {
    border-bottom: 5px solid #fff;
    margin: 0px;
}

@media (max-width: 750px) {
    .page-nav {
        display: flex;
    }

    .page-row #aside {
        display: none;
    }

    .page-row {
        padding-top: 15vh;
    }
}

.page-row {
    display: flex;
    justify-content: space-between;
}

.page-row aside {
    width: 30%;
}

.page-row section {
    width: 65%;
    margin-left: 5%;
}

@media (max-width: 750px) {

    .page-row {
        display: flex;
        flex-direction: column
    }

    .page-row aside {
        width: 100%;
    }

    .page-row section {
        width: 100%;
        margin-left: 0%;
    }

}

#wizardalle_publicationbundle_add_small_publication_content {
    border-radius: 0px;
}

.information-block-wrapper {
    height: auto;
}

.most-commented-block-wrapper .publication {
    padding: 0px;
}

.dropdown-menu {
    border-radius: 5px !important;
}

#wizardalley_publicationbundle_add_small_publication_content {
    border: 1px solid #8c8b8b;
    padding: 3vh 1vw;
    color: #000000;
}

.form-control:focus {
    border-color: #323F61;
}

.form-group {
    text-align: right;
}

.publication {
    margin: 0px;
    padding: 0px;
}

.panel {
    padding: 20px;
    border: 0px;
}

/* ASIDE */

/* LISTING SORCIERS ET SORCIERES */

.user-last-connecter-wrapper, .small-icon-h4 {
    text-align: center;
    justify-content: center;
    display: flex;
}

.user-last-connecter-wrapper h4, .small-icon-h4 h4 {
    text-align: center;
    font-size: 15px;
}

/* INFORMATION */

.publication-block-wrapper {
    margin-top: 5vh;
    text-align: justify;
}

/* PUBLICATIONS VEDETTES */

aside .publication {
    text-align: justify;
}

/* RUELLE */

/* COMMENT */
.comment-wrapper {
    margin-bottom: 5vh;
}

.comment-wrapper .img-profil {
    width: 80px;
    height: 80px;
}

.comment-wrapper .img-profil {
    float: left;
    margin-right: 2vw;
}

.comment-wrapper .comment-username {
    font-size: 2em;
}

.comment-wrapper .comment-time {
    font-size: 0.9em;
}

.comment-wrapper .comment-message-wrapper {
    margin-top: 2vh;
}
=======
.last-publications-title {
    margin-top: 10vh;
}

>>>>>>> Stashed changes

/* DISCOVER */

.head-discover, .head-discover .title-wrapper {
    padding: 10vh 5vw 5vh;
    height: 70vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.head-discover h2, .head-discover h3, .login-title-description {
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 12px #000;
    padding: 0px;
    margin: 0px;
}

.head.login-title {
    padding: 0vh 1vw;
}

.login-title-description {
    padding: 0px 1vw;
}

/* Notifications */

.notifications {
    width: 100%;
}

.notifications section {
    margin: 0px;
}

@media (min-width: 767px) {

    .notifications {
        flex-direction: column;
    }

    .notifications #aside, .notifications #section {
        width: 100%;
    }

    .notifications #aside {
        display: block;
    }

    .notifications #section {
        display: block;
    }

}

/* ALERT */

.alert-info, .notification-viewed {
    background-color: #fff;
    background-image: none;
    border: none;
}

.head-notification .title-wrapper {
    padding: 23vh 0vw 10vh;
}

.head-notification {
    padding: 0px;
}

.notification-viewed .text-center {
    font-size: 17px;
}

.alert {
    position: fixed;
    top: 2vh;
    z-index: 10000;
    left: 30vw;
    right: 30vw;
    background-color: #474C76 !important;
    background-image: none !important;
    color: #fff;
    text-shadow: none;
    border: none;
    box-shadow: none;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
}

.alert li {
    list-style-type: none;
}

.ui-widget-header {
    border: 0px;
    background: none;
}

.ui-dialog {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.71);
    border-radius: 5px !important;
    position: fixed !important;
}

.ui-dialog-titlebar {
    background-color: #454A72;
    background-image: none;
}

.ui-button-icon-primary {
    color: #fff !important;
    background-color: #474C76 !important;
    border: 0px !important;
}

/* MENU RESPONSIVE */

@media (min-width: 767px) {
    header .title {
        margin-top: 2vh;
    }

    .nav.navbar-nav.nav-full {
        width: 95%;
        display: flex;
        justify-content: space-around;
    }

}

@media (max-width: 767px) {

    header nav .nav-full li:hover, header nav .nav-full li.active {
        border-bottom-color: transparent !important;
    }

    .navbar-nav > li > a {
        text-align: center;
    }

    nav navbar-nav nav-full, .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        height: 100vh;
        max-height: none;
    }

    header nav .nav-full li:hover, .navbar-nav .active {
        border-bottom: none !important;
    }

}

@media screen and (max-width: 1000px) {

    .fos_user_registration_register {
        padding: 0vh 0vw;
    }

}

/* PUBLICATIONS */

#wizardalley_publicationbundle_add_small_publication_submit {
    width: 100%;
    padding: 15px 5vw;
}

.publication {
    margin-bottom: 5vh;
}

.publication p, .publication h5, .panel-body p, .publication-date {
    font-size: 20px !important;
    margin: 0px;
    padding: 0px;
}

.publication-author {
    font-size: 20px;
    text-transform: capitalize;
}

.publication-date {
    font-size: 10px;
}

.publication .text-align-right {
    margin-top: 5vh;
}

.publication .text-align-right .label, .btn, .btn-danger, .btn-add-blame {
    font-size: 12px !important;
}

.publication h5 {
    font-size: 30px;
    margin: 0px;
    text-align: left;
}

.col-md-12 p {
	text-align: justify;
}

/* AFFICHAGES DES PUBLICATIONS */

.head-publication-show {
    margin: 0px;
    width: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
}
}

.publication-header-title, .publication-header-whom {
    text-align: left !important;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
}

.publication-header-whom {
    font-size: 2rem;
    margin: 0;
}

.publication-header-whom a {
    color: #fff;
}

.publication-contain-show {
    margin: 2vh 11%;
    width: 78%;
}

.panel-footer {
	border: 0;
	background-color: transparent;
}

.social-publication {
	margin-right: 0;
	padding-right: 0;
}

@media (max-width: 767px) {
    
    .head-publication-show {
        flex-direction: column;
    }

    .publication-header-title {
        font-size: 3rem !important;
        text-align: center !important;
    }

    .publication-header-whom {
        text-align: center !important;
    }

    .publication-contain-show {
        margin: 2vh 1%;
        width: 98%;
    }
    
    .publication-header-title, .publication-header-whom {
        text-align: center!important;
    }

    .head-publication-show .img-profil-page {
        margin-bottom: 2vh;
    }
    
}

/* COUPS DE COEURS */

.most-comment .text-align-right {
	display: none;
}

/* COMMENTAIRES */

#comment_content {
    padding-top: 10vh;
    height: auto !important;
}

/* GRANDES PUBLICATIONS */

.publication-top .title-container {
    margin-left: 5vw;
}

.publication-top .page-name {
    font-size: 3rem;
}

.publication-top .publication-name {
    font-size: 3rem;
}

.wizardalley_publicationbundle_comment_publication_content {
    display: block;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.publication-image-img {
    width: 100%;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.71);
    margin: 10vh 0vw;
}

/* MESSAGERIE */

.new-private-message a {
    font-size: 3rem;
}

.table {
    font-size: 20px;
}

.messenger_thread_message {
    margin-top: 5vh;
}

.messenger_thread_message_info {
    font-size: 25px;
    margin-bottom: 15px;
}

.messenger_thread_message_body {
    font-size: 20px;
}

.messagerie .col-lg-2 {
    margin-bottom: 5vh;
}

/* PROFILS & PAGES */

.col-md-4 .panel-body p, .col-md-3 .panel-body p {
    font-size: 17px;
    text-align: justify;
}

.col-md-4 .icon-large, .col-md-3 .icon-large {
    margin-right: 10px;
}

.head-page {
    height: auto;
}

.head-page h1, .head-profile h1 {
    margin: 5vh 0vw 0vh;
}

.head-page h2, .head-profile h2 {
    margin: 0px;
}

.head-page h3, .head-profile h3 {
    margin: 2vh 0vw 0vh;
}

.dropdown-menu .dropdown-toggle {
    display: none;
}

.dropdown-menu li {
    text-transform: inherit;
}

.navbar-nav > li > .dropdown-menu {
    position: fixed;
    top: auto;
    right: 5.5vw;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: transparent;
}

.head h3 a {
    background-color: #454a72;
    color: #fff;
    text-shadow: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 1.6rem;
    text-transform: capitalize;
    text-decoration: none;
}

.head h3 a:hover {
    text-decoration: none;
    background-color: #27293d;
}

.head h2 a {
    color: #fff;
    text-decoration: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.head h2 a:hover {
    background-color: transparent;
    text-decoration: underline;
    color: #fff;
}

.friend-tools {
    display: flex;
    flex-wrap: wrap;
    padding: 2vh 30vw 5vh;
    justify-content: center;
}

.firend-tools .btn-danger {
    box-shadow: none !important;
    text-shadow: none !important;
    background-color: transparent !important;
}

@media (max-width: 767px) {
    .friend-tools {
        flex-direction: column;
    }
}

.friend-tools li {
    list-style: none;
    padding: 5px;
    margin: 0 1vw;
    background-color: #454a72;
    border-radius: 5px;
    margin-bottom: 1vh;
    transition: 0.2s linear;
    display: flex;
    align-items: center;
}

.friend-tools li:hover {
    background-color: #27293d;
}

.friend-tools a {
    background-color: transparent;
    color: #fff;
    padding: 0;
    margin: 0;
    border: none !important;
    border-top: none;
}

.friend-tools a, .friend-tools a:hover {
    text-decoration: none;
}

/* RECHERCHE */

#wizard_search_all_result a:hover, #wizard_search_online_result a:hover, #wizard_search_all_community_result a:hover {
    background-color: transparent;
    color: #27293d;
}

/* FOOTER */

footer ul {
    margin: 2px;
    margin-bottom: 5px;
}

@media (max-width: 320px) {
    #wizard_search_online_result {
        width: 50%;
    }

    /* MENTIONS LEGALES */
    /* FOOTER */
    footer ul {
        padding: 0px;
    }

    footer li a:hover {
        background-color: transparent !important;
    }

    /* VERSIONS MOBILE */
    @media (max-width: 767px) {

        .nav-up #bs-example-navbar-collapse-1 {
            top: auto;
            transition: 0.4s linear;
        }

        .nav-up {
            max-height: none;
            transition: 0.2s linear;
        }

        footer {
            position: relative !important;
            height: auto !important;
            bottom: auto !important;
        }

        footer ul {
            margin: 0;
            margin-bottom: 5px;
        }
    }
