@font-face {
    font-family: "Timeless";
    src: url("../fonts/Timeless/timeless.woff") format("woff"), url("../fonts/Timeless/timeless.ttf") format("truetype");
}

.navbar-head, h1, h2, h3, h4, h5, h6, footer, header nav, p {
    font-family: "Timeless", sans-serif;
}

.user-profil {
    width: 5vw;
    height: 5vw;
}

.publication {
    padding: 20px;
    margin: 40px;
}

.information-block-wrapper .publication {
    margin: 0px;
}

.nav-footer {
    margin-bottom: 0;
}

.full-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: url("../images/bg.png") no-repeat top;
    background-size: 100%;
    background-attachment: fixed;
}

.background-wizard {
    background-color: white;
}

.comment_content {
    margin: 10px 5%;
    padding: 2%;
    width: 90%;
}

.imgSquare {
    position: relative;
    width: 100%;
}
.imgSquare .imgSquareContainer {
    background-color: white;
    box-shadow: none;
    margin: 5%;
    padding-bottom: 100%;
    position: relative;
    width: 90%;
}

.imgSquare .imgSquareContainer img {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.imgSquareContainer .imgTitre {
    padding: 2px;
    position: absolute;
    left: 0;
}

.circle {
    border-radius: 50%;
}

.squareUser div.imgSquare {
    width: 30%;
    float: left;
}

.search-publication-container {
    padding: 10px;
    margin-top: 10px;
}

.main-title {
    color: white;
}

.defaut-label {
    background-color: #454a72;
}

.label {
    padding: 3.75px;
    margin: 3.75px;
}

.label a {
    color: white;
    font-style: none;
}

.label a > :focus, .label a:hover {
    color: white;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.margin-right {
    margin-right: 30px;
}

.margin-left {
    margin-left: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.margin-top {
    margin-top: 30px;
}

.padding-right {
    padding-right: 30px;
}

.padding-left {
    padding-left: 30px;
}

.padding-top {
    padding-top: 30px;
}

.padding-bottom {
    padding-bottom: 30px;
}

.messenger_thread_message .messenger_thread_message_info {
    font-weight: bold;
}

.messenger_thread_message .messenger_thread_message_body {
    padding-left: 30px;
}

.wizard-icondiscover, .wizard-iconhome, .wizard-iconmail, .wizard-iconnotifications, .wizard-iconsearch {
    display: inline-block;
    background: url("../images/sprite-menu.png") no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    vertical-align: middle;
}

.wizard-icondiscover {
    background-position: -5px 0px;
    width: 43px;
    height: 45px;
}

.wizard-iconhome {
    background-position: -53px 0px;
    width: 43px;
    height: 45px;
}

.wizard-iconmail {
    background-position: -5px -50px;
    width: 43px;
    height: 45px;
}

.wizard-iconnotifications {
    background-position: -53px -50px;
    width: 43px;
    height: 45px;
}

.wizard-iconsearch {
    background-position: -5px -100px;
    width: 43px;
    height: 45px;
}

@media screen and (max-width: 1598px) {
    h1 {
        font-size: 1rem;
    }
}

/* HEADER */

header nav {
    overflow-x: hidden;
}

.register, .login, .navbar-nav li, header nav .nav-full li:hover {
	padding-bottom: 0.5vh;
	border-bottom: 4px solid transparent;
	transition: 0.2s linear;
}

header nav .nav-full li:hover, .navbar-nav .active  {
	border-bottom-color: #fff;
}

.head .title-wrapper {
    padding: 20vh 0 10vh;
}

.head-profile {
    height: 50vh;
    text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
}

.head-profile h1 {
    font-size: 5rem;
}

.head-profile h2 {
    font-size: 3rem;
}

.head h1 {
    margin-top: 0vh;
}

h1 {
    font-size: 3rem;
}

/* BOUTONS */
.wizardsalley-login-form-submit, .wizardsalley-register-form-submit, .btn-default, .btn, .btn.btn-danger.btn-add-blame, .label.defaut-label.btn, .btn-default.active.focus, .btn-default.active, .btn-default.active, .btn-default.focus, .btn-default, .btn-default, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default {
    border: 0px;
    background: #454a72;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
    margin: auto;
    text-decoration: none;
    color: #fff;
    transition: 0.2s linear;
    font-size:  ;
    line-height: normal;
    font-weight: normal;
    font-size: 1.4rem;
    text-shadow: none;
    
}

.wizardsalley-login-form-submit:hover, .wizardsalley-register-form-submit:hover, .btn-default:hover, .btn:hover, .btn.btn-danger.btn-add-blame:hover, .label.defaut-label.btn:hover, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .btn-default.active, .btn-default:active {
    background: #27293d;
    text-decoration: none;
    color: #fff;
    line-height: normal;
    font-weight: normal;
}

/* CONNEXION */

.wizardsalley-login-form-submit, .wizardsalley-register-form-submit {
    width: 100%;
}

.fos_user_registration_register {
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

/* BLOCKS PAGES */

#wizardalley_publicationbundle_add_small_publication_content {
    border-radius: 0px;
}

.information-block-wrapper {
    height: auto;
}

.most-commented-block-wrapper .publication {
    padding: 0px;
}

.dropdown-menu {
    border-radius: 5px!important;
}

#wizardalley_publicationbundle_add_small_publication_content {
	border: 1px solid #8c8b8b;
	padding: 3vh 1vw;
	font-family: "Timeless", sans-serif;
	color: #000000;
}

.form-control:focus {
    border-color: #323F61;
}

.form-group {
	text-align: right;
}

.publication {
    margin: 0px;
    padding: 0px;
}

.panel {
    border: 0px;
}

.text-center {
    margin-top: 2vh;
}

/* Notifications */

.alert-info, .notification-viewed {
	background-color: #fff;
	background-image: none;
	border: none;
}


/* Profil */

.panel-body p {
	text-align: center;
    font-size: 1.8rem;
}

.panel-body p a {
	width: auto;
	font-size: 2rem;
	padding-bottom: 1vh;
	border-bottom: 2px solid transparent;
}

.panel-body p a:hover {
	border-bottom-color: #23527c;
	text-decoration: none;
}

.row a {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.fos_user_user_show {
    margin-top: 5vh;
}

/* MENU RESPONSIVE */
@media (max-width: 767px) {
    
    header nav .nav-full li:hover, header nav .nav-full li.active {
        border-bottom-color: transparent;
    }
    
    .navbar-nav > li > a {
        text-align: center;
    }
    
    nav navbar-nav nav-full, .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        height: 100vh;
        max-height: none;
    }
}

/*# sourceMappingURL=main.css.map */
