{% extends '::base.html.twig' %}

{% block before_body %}
    <div class="full-container">
        <header>
            <nav class="navbar navbar-default"><div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Wizard Alley</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a>Utilisateur</a></li>
                            <li><a href='{{ path('admin_page') }}'>Page</a></li>
                            <li><a href='{{ path('admin_infoBillet') }}'>Informations</a></li>
                            <li><a>Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block body_admin %}

            {% endblock %}

        </div>
    </div>
{% endblock %}