{% extends 'WizardalleyAdminBundle::adminBase.html.twig' %}

{% block body_admin -%}
    <h1>Page creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_list_page', {tableName: 'page'}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
