{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}
    <h2>{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</h2>
    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': inboxThread} %}

    <h2>{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</h2>


    {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': sentThread} %}

{% endblock %}
