{% extends "::user/profileBase.html.twig" %}

{% block profile_body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{% trans %}wizard.user.profile.publish_on_wall{% endtrans %}</h3>
                    <hr>
                    {{ render(
                    controller(
                    'WizardalleyPublicationBundle:SmallPublication:renderSmallPublication'
                    )) }}
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{% trans %}wizard.user.wall.publication{% endtrans %}</h3>
                    <div id="my_publication"></div>
                </div>
                <div class="panel-footer text-center">
                    <span id="loadMorePublication"
                          class="glyphicon glyphicon-chevron-down clickable load-more-publication"
                          aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
