**/Entity/*~
app/config/parameters.yml
*parameters.yml
vendor/
nbproject/
web/uploads/
web/bundle/
web/bundles/
web/uploads/*
app/cache/
app/logs/
bin/
.vagrant/
/web/uploads/
/web/assets/.sass-cache/
