{% extends 'WizardalleyAdminBundle:Table:defaultList.html.twig' %}


{% block headerAdmin %}
    <div class="pull-right">
        <a href="{{ path('admin_map_new') }}">
            <i class="icon-large icon-plus-sign"></i>
        </a>
    </div>
{%  endblock %}
{%  block tableTemplateExtra %}

    <script type="text/template" class="template-render-modal-delete">
        {% trans %}wizard.table.map.confirm.delete{% endtrans %}
        {{ render(controller('WizardalleyAdminBundle:MapObject:renderFormDeleteTemplate')) }}
    </script>
{%  endblock %}

