$main-color: rgb(69, 74, 114)
$base-gutter: 30px
$color-white: #FFF
$color-light-black: #444
$color-black: #000
$color-base-blue: #454a72
$color-light-blue: #ACB0E4
$main-font: "bettyregular"
$second-font: "Timeless"

$media-medium-min-width: 768px
$media-small-max-width: 767px