{% extends '::base.html.twig' %}

{% block head_extra_class %}head-confidentiality{% endblock %}
{% block title %}
    {% trans %}wizard.title.base{% endtrans %} {% trans %}wizard.menu.link.confidentiality{% endtrans %}
{% endblock %}


{% block title_banner %}
    <h2>{% trans %}wizard.menu.link.confidentiality{% endtrans %}</h2>
{% endblock %}

{% block body %}
    {% include '::includes/confidentiality-text.html.twig' %}
{% endblock %}
