{% extends "::base.html.twig" %}

{% block body %}
    {% if app.session.flashbag.has('message_send') %}
             {% for message in  app.session.flashbag.get('message_send') %}
              {{message | trans() }}
              {% endfor %}
    {% endif %}
    <h1>{% trans %}wizard.contact.title{% endtrans %}</h1>

    {{ form(form) }}

{% endblock %}
