{% extends "::base.html.twig" %}


{% block head_extra_class %}head-contact{% endblock %}

{% block title %}
    {% trans %}wizard.title.base{% endtrans %} {% trans %}wizard.title.contact{% endtrans %}
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if app.session.flashbag.has('message_send') %}
                {% for message in  app.session.flashbag.get('message_send') %}
                    {{ message | trans() }}
                {% endfor %}
            {% endif %}
            <h1>{% trans %}wizard.contact.title{% endtrans %}</h1>

            {{ form(form) }}

        </div>
    </div>
{% endblock %}
