{% extends '::base.html.twig' %}

{% block title_banner %}
    <div class="col-md-12 text-center">
        <h1>{% trans %}wizard.home.h1{%  endtrans %}</h1>
        <h2>{% trans %}wizard.home.h2{%  endtrans %}</h2>
    </div>
{% endblock %}
