{% extends '::base.html.twig' %}

{% block title_banner %}
    <div class="col-md-12 text-center">
        <h1>Bienvenue amis sorciers sur le portail magique de l'Allée des Sorciers.</h1>
        <h2>Attention aux prunes dirigeables !</h2>
    </div>
{% endblock %}
