{% extends '::base.html.twig' %}

{% block head_extra_class %}head-search{% endblock %}

{% block title %}
    {% trans %}wizard.title.base{% endtrans %} {% trans %}wizard.menu.link.search{% endtrans %}
{% endblock %}


 {% block body_style %}url('{{ asset('images/background-search.jpg')}}'){% endblock %}
{% block title_banner %}
    <h1>
        {% trans %}wizard.title.search{% endtrans %}
    </h1>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>{% trans %}wizard.utility.search{% endtrans %}</h2>
                <div class="col-md-12">{{form(form)}}</div>
                <hr>
                <div class="col-md-12" id="wizard_search_result"></div>
                <div class="col-md-12">
                    <button class="load-more-search">{% trans %}wizard.utility.load_more{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        var field = null;
        var researchType = null;
        _$page = 1;
        $('form').submit(function(event){
            _$page = 1;
            event.preventDefault();
            field = $('#wizard_search_form_field').val();
            researchType = $('#wizard_search_form_searchType').val();
            $('#wizard_search_result').html('');
            loadMore();
        });

        $('button.load-more-search').on('click', function() {
            loadMore();
        });

        $('#wizard_search_form_searchType').on('change', function() {
            $('#wizard_search_result').html('');
            _$page = 1;
        });

        function loadMore(){
            $result = util.loadMoreSearch(researchType,field ,  _$page);
            _$page = _$page+1;
        }
    </script>
{% endblock %}