@font-face
  font-family: "bettyregular"
  src: url('fonts/betty/betty_regular.woff') format('woff'), url('fonts/betty/Betty%20Regular.ttf') format('truetype')

h1, h2, h3, h4, h5, h6
  font-family: $main-font, Helvetica, Arial, sans-serif

.publication
  padding: 20px
  margin: 40px

.information-block-wrapper
  height: 500px
  overflow-y: scroll

.nav-footer
  margin-bottom: 0

.full-container
  margin: 0
  padding: 0
  width: 100%

@media (max-width: $media-small-max-width)

.navbar-brand span.text-title
  display: none

@media (min-width: $media-medium-min-width)

.navbar-nav li
  margin-left: 10px

body
  background: url("../../../images/bg.png") no-repeat top
  background-size: cover
  background-attachment: fixed

.background-wizard
  background-color: white
    margin: 0px
    padding: 5vh 5vw 20vh

.navbar
  background: url("../../../images/bg-dark.jpeg") no-repeat top
  border: none

.navbar-nav li
  line-height: 36px

.comment_content
  margin: 10px 5%
  padding: 2%
  width: 90%

.imgSquare
  position: relative
  width: 100%

.imgSquare .imgSquareContainer
  position: relative
  width: 90%
  margin: 5%
  padding-bottom: 100%
  background-color: white
  box-shadow: 1px 1px 12px #555

.imgSquare .imgSquareContainer img
  position: absolute
  width: 100%
  height: 100%
  overflow: hidden

.imgSquareContainer .imgTitre
  padding: 2px
  position: absolute
  left: 0

.circle
  border-radius: 50%

.squareUser div.imgSquare
  width: 30%
  float: left

.search-publication-container
  padding: 10px
  margin-top: 10px

.main-title
  color: white

.scroll
  padding-bottom: 2vh
  > .nav
    display: none

.badge
  background-color: $color-light-blue