.navbar-head, h1, h2, h3, h4, h5, h6, footer
  font-family: $main-font, sans-serif

.user-profil
  width: 5vw
  height: 5vw


header, footer
  background-image: url(../images/bg-dark.jpeg)
  background-color: $color-black
  background-attachment: fixed
  background-size: cover
  background-repeat: no-repeat


header nav, p
  font-family: $second-font, sans-serif

header nav ul i
  margin-right: 2vw

header nav.nav-full li
  border-bottom: 5px solid transparent
  transition: 0.3s linear


.navbar
  background: url("../images/bg-dark.jpeg") no-repeat top
  border: none
  border: 0px
  border-radius: 0px

.nav-user
  display: flex
  justify-content: center
  align-items: center
  font-size: 1.8rem
  p
    margin-top: 1vh
    margin-right: 3vw
    color: $color-white

.navbar-collapse
  float: left
  width: 100%
  clear: both

header a, .navbar-brand, .navbar-nav > li > a, .navbar-brand, .navbar-nav > li > a:hover, header a:hover, .navbar-nav > li > a:focus, header a:focus
  text-decoration: none
  color: $color-white
  text-shadow: none
  background-color: transparent

.dropdown-menu
  margin-right: 5px
  margin-left: -6vw
  margin-top: 4vh
  border-radius: 4px
  color: $color-black
  li
    text-transform: capitalize

nav .open > a, .nav .open > a:focus, .nav .open > a:hover
  background-color: transparent

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover
  color: #000
  background: none


.login
  margin-right: 2vw
  padding-bottom: 0.5vh
  border-bottom: 2px solid transparent
  transition: 0.2s linear

.register
  padding-bottom: 0.5vh
  border-bottom: 2px solid transparent
  transition: 0.2s linear

.login:hover, .register:hover
  border-bottom: 2px solid $color-white

@media (min-width: $media-medium-min-width)
  .two-row .navbar-collapse
    clear: left
  .navbar-nav
    margin: 0 auto
    display: table
    table-layout: fixed
    float: none

@media screen and (max-width: 1420px)
  header nav
    margin: 0vh 0vw
    max-width: 180vw
    overflow-x: scroll


header nav .nav-full li:hover
  border-bottom: 5px solid $color-white

.navbar-toggle
  margin-right: 0px
  .icon-bar
    background-color: $color-white

.mypseudo:hover
  cursor: default

.background-wizard
  margin: 0px
  padding: 5vh 5vw 20vh

.head
  justify-content: center
  align-items: center
  color: $color-white
  @include breakpoint(xxxs)
    padding: 0vh 5vw
    margin: 20vh 5vw
    height: 40vh
  @include breakpoint(xxs)
    padding: 0vh 5vw
    margin: 10vh 5vw 20vh
    height: 40vh
  @include breakpoint(xs)
    padding: 0vh 5vw
    margin: 10vh 5vw 20vh
    height: 40vh
  @include breakpoint(sm)
    padding: 0vh 5vw
    margin: 10vh 5vw 20vh
    height: 40vh
    h1
      margin-top: 10vh
  @include breakpoint(md)
    padding: 0vh 15vw
    margin: 5vh 0vh 20vw 0vw
    height: 40vh
    h1
      margin-top: 10vh
  @include breakpoint(lg)
    padding: 0vh 15vw
    margin: 10vh 0vh 10vw 0vw
    height: 30vh
    h1
      margin-top: 10vh
  .imgSquare
    width: 15vh
    margin: auto
  .title-wrapper
    height: 100%
    padding: 10vh 0
    .down-button
      position: inherit
      text-align: center
      margin: auto
      @media screen and (min-width: $media-small-max-width)
        bottom: 10vh
        height: 10vh
        width: 10vh
        left: 45vw
      @media screen and (max-width: $media-medium-min-width)
        bottom: 5vh
        height: 5vh
        width: 5vh
        left: 47.5vw
      a
        @media screen and (min-width: $media-small-max-width)
          font-size: 3em
        @media screen and (max-width: $media-medium-min-width)
          font-size: 2em
        color: white

.navbar-header
  width: 100%
  padding-right: 5vw
  padding-left: 5vw
  font-family: "Timeless", sans-serif