.wizard-icondiscover, .wizard-iconhome, .wizard-iconmail, .wizard-iconnotifications, .wizard-iconsearch, .wizard-iconhat, .wizard-iconbroom
  display: inline-block
  background: url('../images/sprite-menu-small.png') no-repeat
  overflow: hidden
  text-indent: -9999px
  text-align: left
  vertical-align: middle

.wizard-icondiscover
  background-position: -5px -0px
  width: 20px
  height: 21px

.wizard-iconhome
  background-position: -25px -0px
  width: 21px
  height: 22px

.wizard-iconmail
  background-position: -2px -25px
  width: 21px
  height: 22px

.wizard-iconnotifications
  background-position: -26px -25px
  width: 21px
  height: 22px

.wizard-iconsearch
  background-position: -2px -50px
  width: 21px
  height: 22px

.wizard-iconhat
  background-position: -26px -50px
  width: 21px
  height: 22px

.wizard-iconbroom
  background-position: -2px -75px
  width: 21px
  height: 22px



