{% extends '::base.html.twig' %}

{% block body -%}
    {{ tinymce_init() }}
    <h1>Publication creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
    </li>
</ul>
{% endblock %}
