{% for information in informations %}
<div class="row">
    <div class="col-md-12">
        <div class="publication">
            <h3>{{ information.name }}</h3>
            <hr>
            <p>{{ information.content|raw }}</p>
        </div>
    </div>
</div>
{% endfor %}