
<script id="home-publication-container-mini" type="text/template">

    <% _.each( publications, function( publication ){ %>

    <div class="publication">
        <div class="row ">
            <div class="col-md-2">
                <div class="imgSquare">
                    <div class="imgSquareContainer" >
                        <img  src="<%- publication.img_profile %>" />
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <% if (publication.type == "page_publication") { %>
                <h3>
                    <a href="<%- publication.path_publication %>"><%- publication.title %></a>
                </h3>
                <% } %>
                <h5>Par
                    <a href="<%- publication.writer_link %>" ><%- publication.name %></a>

                </h5>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <%= publication.content %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
            </div>
        </div>

    </div>
    <% }); %>
</script>