<div class="row">
    {% for friend in friends %}
        {% if friend.path_profile %}
            {% set path =  friend.id ~ '/' ~ friend.path_profile %}
        {% else %}
            {% set path = 'default.png' %}
        {% endif %}

        {% include 'includes/viewSmall.html.twig' with
        {
        'path': '/uploads/profile/' ~ path ,
        'link':  path('wizardalley_user_wall' , {'id': friend.id}),
        "title": friend.username
        } %}
    {% endfor %}
</div>

