<div class="row">
    {% for user in users %}
        <div class="col-xs-6 col-md-3">

            {% include 'includes/viewSmall.html.twig' with
            {
            'path': user.getWebPathProfile(),
            'link':  path('wizardalley_user_wall' , {'id': user.id}),
            "title": user.username
            } %}
        </div>
    {% endfor %}
</div>

