{% extends '::page/pageBase.html.twig' %}
{% block page_body %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>
                {% trans %}wizard.page.publications{% endtrans %}
            </h3>
            <div id="my_publication">
            </div>
        </div>
        <div class="panel-footer text-center">
            <span class="glyphicon glyphicon-chevron-down clickable load-more-publication" aria-hidden="true"></span>
        </div>
    </div>
{% endblock %}
