{% extends '::base.html.twig' %}

{% block head_extra_class %}head-notification{% endblock %}
{% block title %}
    {% trans %}wizard.title.base{% endtrans %} {% trans %}wizard.user.notification.title{% endtrans %}
{% endblock %}
{% block title_banner %}
    <h1>
        {% trans %}wizard.title.notification{% endtrans %}
    </h1>
{% endblock %}
 {% block body_style %}url('{{ asset('images/background-notification.jpg') }}'){% endblock %}

{% block body -%}

    <ul class="page-nav">
        <li id="news" class="active" onclick="letsnews()">Dernières</li>
        <li id="vedette" onclick="letsvedette()">Archivées</li>
    </ul>

    <div class="page-row notifications">
        <aside id="aside">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-10">
                        <h3 class="text-left">{% trans %}wizard.notification.latest{% endtrans %}</h3>
                    </div>
                    <div class="col-xs-2">
                        <a href="{{ path('user_notification_mark_all_read') }}">{% trans %}
                            wizard.user.notification.mark_all_as_read{% endtrans %}</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-xs-12">
                <div class="row div-new-notifications"></div>
            </div>
            <div class="col-xs-12 margin-top text-right">
                <button class="wizard-new-load-notification">{% trans %}
                    wizard.user.notification.load_more{% endtrans %}</button>
            </div>
        </aside>
        <section id="section">

            <div class="col-xs-12">
                <h3 class="text-left">{% trans %}wizard.notification.old{% endtrans %}</h3>
                <hr>
            </div>
            <div class="col-xs-12">
                <div class="row div-old-notifications"></div>
            </div>
            <div class="col-xs-12 margin-top text-right">
                <button class="wizard-old-load-notification">{% trans %}
                    wizard.user.notification.load_more{% endtrans %}</button>
            </div>

        </aside>
   
   <ul class="page-nav">
       <li id="news" class="active" onclick="letsnews()">Dernières</li>
       <li id="vedette" onclick="letsvedette()">Archivées</li>
   </ul>
   
    <div class="page-row notifications">
                <aside id="aside">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-10">
                                    <h3 class="text-left">{% trans %}wizard.notification.latest{% endtrans %}</h3>
                                </div>
                                <div class="col-xs-2">
                                    <a href="{{ path('user_notification_mark_all_read') }}">{% trans %}wizard.user.notification.mark_all_as_read{% endtrans %}</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-12">
                            <div class="row div-new-notifications"></div>
                        </div>
                        <div class="col-xs-12 margin-top text-right">
                            <button class="wizard-new-load-notification">{% trans %}wizard.user.notification.load_more{% endtrans %}</button>
                        </div>
                    </div>
                </aside>
                <section id="section">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="text-left">{% trans %}wizard.notification.old{% endtrans %}</h3>
                            <hr>
                        </div>
                        <div class="col-xs-12">
                            <div class="row div-old-notifications"></div>
                        </div>
                        <div class="col-xs-12 margin-top text-right">
                            <button class="wizard-old-load-notification">{% trans %}wizard.user.notification.load_more{% endtrans %}</button>
                        </div>
                    </div>
                </section>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var _$pageNew = 1;
        var _$pageOld = 1;
        var $divNew = $('.div-new-notifications');
        var $divOld = $('.div-old-notifications');
        function loadNewNotification(data) {
            $divNew.append(data['data']);
        }
        function loadOldNotification(data) {
            $divOld.append(data['data']);
        }

        function loadNewMore() {
            var _handler = function (data) {
                loadNewNotification(data);
            };
            $result = util.loadMore(
                    Routing.generate('user_notification_status_list', {'status': 0, 'page': _$pageNew}),
                    'GET',
                    _handler
            );
            _$pageNew = _$pageNew + 1;
        }
        function loadOldMore() {
            var _handler = function (data) {
                loadOldNotification(data);
            };
            $result = util.loadMore(
                    Routing.generate('user_notification_status_list', {'status': 1, 'page': _$pageOld}),
                    'GET',
                    _handler
            );
            _$pageOld = _$pageOld + 1;
        }

        loadNewMore();
        loadOldMore();

        $('.wizard-new-load-notification').on('click', function () {
            loadNewMore();
        });
        $('.wizard-old-load-notification').on('click', function () {
            loadOldMore();
        });

    </script>
{% endblock %}
