/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 juil. 2015, 22:36:44
    Author     : marineB
*/
.publication{
    padding:20px;
    
    margin:40px;
border: 1px rgb(212, 212, 212) solid;

background: rgb(255, 255, 255);

-moz-box-shadow:  12px 12px 10px 10px rgb(128,128,128);
-webkit-box-shadow:  12px 12px 10px 10px rgb(128,128,128);
box-shadow:  12px 12px 10px 10px rgb(128,128,128);

}


.navbar-nav .nav li{
  height:50px;
}

.navbar-nav > li > a{
  padding-top:8px;
  padding-bottom:8px;
  line-height:32px;
}

.navbar-default .navbar-nav > li > a{
  color:white;
  font-weight:bold;
  background-color:rgba(0,0,0,0.5);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a.active{
  color:#fff;
  background-color:rgba(0,0,0,1);
  font-weight:bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color:#fff;
  background-color:rgba(0,0,0,0.6);
  font-weight:bold;
}

.navbar-toggle{
  background-color:#fff !important;
  box-shadow:1px 1px 1px rgba(0,0,0,0.4);
  margin-top:20px;
}

nav.navbar.navbar-default{
  background:none;
  box-shadow:none;
}

.navbar-brand{
  height:75px;
  font-size:18px;
  color:#fff !important;
  text-shadow:1px 1px 1px rgba(0,0,0,0.4);
}

.navbar-brand span.text-title{
  text-transform:uppercase;
  font-weight:bold;
}

@media (max-width:767px) {
  .navbar-brand span.text-title{
    display:none;
  }
}

.navbar-brand .glyphicon{
  display:inline-block;
  font-size:36px;
  color:#fff;
  vertical-align:middle;
  margin-right:20px;
  position:relative;
  top:-2px;
}
.navbar-collapse{
    border: none;
}

@media (min-width:768px) {
  .navbar-nav li{
    margin-left:10px;
  }
}
header {
    height: 300px;
    background: url(../img/alley.jpg) no-repeat center;
    background-size: cover;
}

.navbar-default {
    border: none;
}