
.widget {
    border-radius: 3px;
    margin-bottom: 20px;
    color: #fff;
    padding: 15px;
    overflow: hidden;
}

.bg-green {
    background: #00acac !important;
}

.bg-blue {
    background: #348fe2 !important;
}

.bg-purple {
    background: #727cb6 !important;
}

.bg-red {
    background: #ff5b57 !important;
}

.stats-widget-title {
    text-transform: uppercase;
}

.stats-widget-icon {
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    color: #fff;
    position: absolute;
    right: 30px;
    top: 15px;
    opacity: .2;
}