<a href="{{ link }}">
    <div class="imgSquare circle">
        <div class="imgSquareContainer circle">
            <img src="{{ asset(path| imagine_filter('small_thumb')) }}"/>
        </div>
    </div>
    <h4>{{ title }}</h4>
</a>