{% extends 'WizardalleyAdminBundle::adminBase.html.twig' %}

{% block body_admin -%}
    <h1>InformationBillet edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_infoBillet') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
    
    {{ tinymce_init() }}
</ul>
{% endblock %}
