<script type="text/template" class="addEntity">
    <tr>
        <td><%- entity.id %></td>
        <td><%- entity.title %></td>
        <td><%- entity.user %></td>
        <td><%- entity.createdAt %></td>
        <td><%- entity.commentaireUnabled %></td>
        <td>
            <ul>
                <li>Edit</li>
                <li>Show</li>
            </ul>
        </td>
    </tr>
</script>