{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div >
                <h3>Exprimez vous</h3>
                
            </div>
            <div>
                <h3>Vos publications</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h3>Suggestion d'amis</h3>
            </div>
            <div>
                <h3>Sujet les plus commentés</h3>
            </div>
            <div>
                <h3>Information</h3>
            </div>
            
        </div>
    </div>
{% endblock %}
