<div class="row ">
    {% for pubFav in publications %}
        <div class="user-last-connecter-wrapper col-xs-6 col-md-4 col-lg-3">
            {% include 'includes/publication/smallPublication.html.twig' with {'publication': pubFav} %}
        </div>
    {% endfor %}
</div>