<div class="row ">
    {% for pubFav in publications %}
        <div class="col-xs-6 col-sm-4 small-icon-h4">
            {% include 'includes/publication/smallPublication.html.twig' with {'publication': pubFav} %}
        </div>
    {% endfor %}
</div>