
{% for pageFav in pages %}
    <div class="page col-xs-6 col-sm-4 small-icon-h4">
        <div class="row search-pages-container">
            <div class="col-xs-12 img-wrapper circle">
                {% include 'includes/viewSmall.html.twig' with
                {
                'path': '/uploads/page/profile/' ~ pageFav.page.pathProfile,
                'link': path('page_show' , {'id_page': pageFav.page.id}),
                "title":   pageFav.page.name
                } %}
            </div>
        </div>
    </div>
{% endfor %}
