{% extends '::base.html.twig' %}

{% block title_banner %}
    {% trans %}wizard.discover.title{% endtrans %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        {% trans %}wizard.discover.team_choice{% endtrans %}
                    </h2>
                </div>
                <div class="col-md-12">
                    <h3>{% trans %}wizard.discover.favorite.page{% endtrans %}</h3>
                    <div id="fav_pages" class="row">
                    </div>
                    <div>
                        <button id="loadMorePage">More</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3>{% trans %}wizard.discover.favorite.publication{% endtrans %}</h3>
                    <div id="fav_publications" class="row">
                    </div>
                    <div>
                        <button id="loadMorePublication">More</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <h2>{% trans %}wizard.discover.last_publication{% endtrans %}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ render(controller('WizardalleyPublicationBundle:Publication:getLatestPublication')) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            _$pagePage = 1;
            _$pagePublication = 1;
            loadMorePage();
            $('#loadMorePage').on('click', function () {
                loadMorePage();
            });

            loadMorePublication();
            $('#loadMorePublication').on('click', function () {
                loadMorePublication();
            });

            function loadMorePage() {
                var _handler = function ($data) {
                    $('#fav_pages').append($data['extra']['html']);
                };
                $result = util.loadMore(Routing.generate('wizardalley_discover_fav_page', {'page': _$pagePage}), 'GET', _handler);
                _$pagePage = _$pagePage + 1;
            };

            function loadMorePublication() {
                var _handler = function ($data) {
                    $('#fav_publications').append($data['extra']['html']);
                };
                $result = util.loadMore(Routing.generate('wizardalley_discover_fav_publication', {'page': _$pagePublication}), 'GET', _handler);
                _$pagePublication = _$pagePublication + 1;
            };



        </script>
    {% endblock %}
