{% for information in informations %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ information.name }}</h3>
        </div>
        <div class="panel-body">
            <p>{{ information.content }}</p>
        </div>
    </div>
</div>
{% endfor %}