<ul>
{% for friend in friends %}
    {% if friend.path_profile %}
        {% set path =  friend.id ~ '/' ~ friend.path_profile%}
    {% else %}
        {% set path = 'default.png'%}
    {% endif %}
    <li><img src="{{asset('uploads/profile/' ~ path )}}" />{{friend.username}}</li>
{% endfor %}
</ul>