{% extends '::base.html.twig' %}

{% block body %}
    <div class="jumbotron margin-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <li><a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}
                                inbox{% endtrans %}</a></li>
                        <li><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}
                                sent{% endtrans %}</a></li>
                        <li><a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}
                                deleted{% endtrans %}</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    {% block fos_message_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
