{% extends '::base.html.twig' %}
{% block title %}
    {% trans %}wizard.title.base{% endtrans %} {% trans %}wizard.menu.link.mail{% endtrans %}
{% endblock %}

 {% block body_style %}url('{{ asset('images/background-mail.png') }}'){% endblock %}
{% block title_banner %}
    <h1>
        {% trans %}wizard.title.messagerie{% endtrans %}
    </h1>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a href="{{ path('fos_message_thread_new') }}">
                                            <h2>{% trans %}wizard.messagerie.start_new.title{% endtrans %}</h2>
                                        </a>
                                        <hr>
                                        <p>{% trans %}wizard.messagerie.start_new.description{% endtrans %}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h2>{% trans %}wizard.messagerie.latest_discussion.title{% endtrans %}</h2>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                {% block fos_message_content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
