{% extends 'WizardalleyAdminBundle:Table:defaultList.html.twig' %}


{% block headerAdmin %}
    <div class="pull-right">
        <a href="{{ path('admin_pagecategory_new') }}">
            <i class="icon-large icon-plus-sign"></i>
        </a>
    </div>
{%  endblock %}
{%  block tableTemplateExtra %}
{%  endblock %}