{% for page in pages|reverse %}
    <div class="col-md-3 col-xs-4 col-lg-2 small-icon-h4">
        {% include 'includes/viewSmall.html.twig' with
        {
        'path': page.getPictureProfile(),
        'link': path('page_show' , {'id_page': page.id}),
        "title":   page.name
        } %}
    </div>
{% endfor %}