{% for page in pages|reverse %}
    <div class="col-md-6 search-pages-container">
        <div class="col-md-2" >
            <div class="imgSquare">
                <div class="imgSquareContainer" >
                    <img src="{{ asset( page.getPictureProfile() | imagine_filter('small_thumb') ) }}" />
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <a href="{{ path('page_show' , {'id_page': page.id})}}">{{ page.name }}</a>
        </div>
    </div>
{% endfor %}