{% for user in users|reverse %}
    <div class="col-md-3 col-xs-4 col-lg-2 search-users-container">
        {% include 'includes/viewSmall.html.twig' with
        {
        'path': user.getPictureProfile(),
        'link':  path('wizardalley_user_wall' , {'id': user.id}),
        "title": user.username
        } %}
    </div>
{% endfor %}