{% extends 'WizardalleyAdminBundle:Table:defaultList.html.twig' %}


{%  block tableTemplateExtra %}

    <script type="text/template" class="template-render-modal-delete">
        {% trans %}wizard.table.publication.confirm.delete{% endtrans %}
        {{ render(controller('WizardalleyAdminBundle:Publication:renderFormDeleteTemplate')) }}
    </script>
    <script type="text/template" class="template-render-modal-toogle-favorite">
        {% trans %}wizard.table.publication.toogle.favorite{% endtrans %}
        {{ render(controller('WizardalleyAdminBundle:Publication:renderFormToogleFavoriteTemplate')) }}
    </script>
    <script type="text/template" class="template-render-user-link">
        <a href="<%= href %>"><%= username %></a>
    </script>
{%  endblock %}